*{
	margin:0;
	padding: 0;
}


@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: "Helvetica Neue", Tahoma, Arial, sans-serif;
}
.clearfix {
	clear: both;
}

.menu {
	float: right;
    margin-right: 20px;

}
.menu li {
	margin:0;
	padding: 0;
	list-style: none;	
	

}
.menu li{
	display: inline-block;
	vertical-align: middle;
	text-align: center;

}
.menu ul {
	display: inline-block;
}

.menu li a{
	display: inline-block;
	vertical-align: middle;
	padding:5px 10px;
	color: #60b5ed;
	font-size: 14px;
	text-decoration: none;

	

}
.menu li a:hover {
	background: #4eabda; 
	height: 22px;
	color: #fff;


}

nav {
	background: url(../img/header.png) repeat-x fixed;
	height: 35px;
	width: 90%;
	margin:0 70px;
}

.minhas,
.ola {
	
	color: #fff;
    font-size: 14px;
    line-height: 20px;
    float: right;
    list-style: none;
    margin-right: 20px;

}

.minhas a{
	text-decoration: none;
	border-left: 2px solid #4299d2;
	color: #fff;
}

.ola li{
background: #7db9e8; 
background: linear-gradient(to bottom,  #7db9e8 0%,#207cca 30%,#2e7ac4 70%,#1e5799 100%); 
padding: 5px 5px;
border: 1px solid #4299d2;
color: #fff;
}

.ola a:hover,
.minhas a:hover {
	background: #4eabda; 
	height: 40px;
	color: #fff;
	
}

.ola a {
	color: #fff;
	text-decoration: underline;
	text-decoration-color:#4eabda;
}
.bg {
	margin: 0 70px;
	height: 100vh;
	width: 100%;
    background-size: cover;
    background-position: center;
 	
}

.center-block {
	width: 555px;
    height: 680px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 20%;
    left: 0;
    margin: 140px auto;

}
.content {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
.first_line {
	text-align: center;
	color: #fff;
    font-size: 25px;
    margin: 16px 0;

}

.fb {
	text-align: center;
	margin: 16px 0;
}
.ou {
	text-align: center;
	margin: 16px 0;
	color: #8a8c8a;
}

.form {
	width: 555px;
    height: 680px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 140px auto;

}

.login {
	line-height: 30px;
    margin: 17px 0 0 0;
    background-color: #0f0f0f;
    color: #fff;
    border: solid 1px;
    border-color: transparent;
    border-bottom: 1px solid #484948;
    width: 280px;
}

.login:focus {
	background-image: linear-gradient(to top, #1b5288 0%, #1b5288 100%);
    box-shadow: 0 1px 0 #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, 0.2), 0 0 9px rgba(47, 123, 197, 0.77), inset 0 0 2px rgba(0, 0, 0, 0.1);
}
.sendme {
	color: #fff;
	margin:16px 0;
	text-align: left;
}

p {
    color: #cccccc;
    font-size: 15px;
    text-align: center;
   
}

.submit {
	background: #7db9e8; 
    background: linear-gradient(to bottom,  #7db9e8 0%,#207cca 30%,#2e7ac4 70%,#1e5799 100%); 
    border: 1px solid #506773;
    width: 151px;
    height: 37px;
    border-radius: 3px;
    color: #fff;
}

.last {
	color:#cccccc;
	font-size: 12px;
	text-align: center;
	margin: 10px 0 0 0;
}